<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" th:href="@{/css/errorM.css}" />
	<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/style_main.css}">
	
	<script src="https://kit.fontawesome.com/baedbdb1a3.js" crossorigin="anonymous"></script>

	<style>
		a {
			text-decoration: none;
			color: white;
		}

		a:hover {
			text-decoration: none;
			color: white;
		}
	</style>

	<!-- Custom styles for this template-->

	<title>Marketplace | Admin</title>
</head>

<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs-cart-alt'></i>
            <span class="text" th:text="${shop.getShopName()}"></span>
        </a>
        <ul class="side-menu top">
            <li >
                <a th:href="@{/admin/dashboard}">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li >
                <a th:href="@{/admin/products/0}">
                    <i class='bx bxs-package'></i>
                    <span class="text">Products</span>
                </a>
            </li>
            <li class="active">
                <a th:href="@{/admin/categories}">
                    <i class='bx bxs-layout'></i>
                    <span class="text">Categories</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/OrderList}">
                    <i class='bx bxs-basket'></i>
                    <span class="text">Orders</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/update-shop/{shopName} (shopName = ${shop.getShopName()})}">
                    <i class='bx bxs-edit'></i>
                    <span class="text">Update Shop</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a th:href="@{/logout}" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>


    </section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu pos'></i>
			<!-- <a href="#" class="nav-link">Categories</a> -->
			<!-- <form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form> -->

			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<!-- <a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a> -->
			<a href="#" class="profile">
				<img th:src="@{/images/1.png}" alt="profile_img">
			</a>
			<p th:text="${shop.getFirstName()}"></p>


		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Categories</h1>
					<ul class="breadcrumbs">
						<li>
							<a href="#">Category</a>
						</li>
						<li><i class='bx bx-chevron-right'></i></li>
						<li>
							<a class="active" href="#">List</a>
						</li>
					</ul>
				</div>
				<a href="#" class="btn-download">
					<i class='bx bxs-plus-circle'></i>
					<span class="text" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add
						Category</span>
				</a>
			</div>




			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Category List</h3>
						<i class='bx bx-search'></i>
						<i class='bx bx-filter'></i>
					</div>
					<table>
						<thead>
							<tr>
								<th>Category Index</th>
								<th>Category Name</th>
								<th>Edit Category Name</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="category, index : ${categories}">
								<th scope="row" th:text="${index.index} + 1"></th>
								<td th:text="${category.name}"></td>
								<td>
									<a id="editButton" th:href="@{/admin/findById/(id = ${category.id})}"
										class="button-green">Update</a>
								</td>
								<td>
									<a th:if="${category.is_activated} == true"
										th:href="@{/admin/delete-category/(id = ${category.id})}"
										class="button-red">Disable</a>
									<a th:if="${category.is_activated} == false"
										th:href="@{/admin/enable-category/(id = ${category.id})}"
										class="button-green">Enable</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<form th:action="@{/admin/add-category}" method="post" th:object="${categoryNew}">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">New Category</h5>
					</div>
					<div class="modal-body">

						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Name:</label>
							<input type="text" class="form-control" th:field="*{name}" id="recipient-name">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
			</div>
		</form>
	</div>


	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalExample"
		aria-hidden="true">
		<form th:action="@{/admin/update-category}" method="put">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit Category</h5>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="idEdit" class="col-form-label">Id:</label>
							<input type="text" class="form-control" id="idEdit" name="id" readonly>
						</div>
						<div class="form-group">
							<label for="nameEdit" class="col-form-label">Name:</label>
							<input type="text" class="form-control" id="nameEdit" name="name">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div th:if="${success}">
		<div class="toast active">
			<div class="toast-content">
				<i class="fa-solid fa-check check success"></i>


				<div class="message">
					<span class="text text-1">Success</span>
					<span class="text text-2" th:text="${success}"></span>
				</div>

			</div>
			<i class="fa-solid fa-xmark close"></i>

			<div class="progress active"></div>
		</div>
	</div>

	<div th:if="${error}">
		<div class="toast active">
			<div class="toast-content">
				<i class="fa-solid fa-warning check warning"></i>

				<div class="message">
					<span class="text text-1">Error</span>
					<span class="text text-2" th:text="${error}"></span>
				</div>

			</div>
			<i class="fa-solid fa-xmark close"></i>

			<!-- Remove 'active' class, this is just to show in Codepen thumbnail -->
			<div class="progress active"></div>
		</div>
	</div>

	<script>
        document.addEventListener('DOMContentLoaded', function () {
            const darkModeCheckbox = document.getElementById('switch-mode');
            const body = document.body;

            // Check if the user has a preference stored in local storage
            const darkMode = localStorage.getItem('darkMode');

            // Function to enable dark mode
            function enableDarkMode() {
                body.classList.add('dark');
                darkModeCheckbox.checked = true;
                localStorage.setItem('darkMode', 'enabled');
            }

            // Function to disable dark mode
            function disableDarkMode() {
                body.classList.remove('dark');
                darkModeCheckbox.checked = false;
                localStorage.setItem('darkMode', 'disabled');
            }

            // Toggle dark mode based on the user's preference
            if (darkMode === 'enabled') {
                enableDarkMode();
            }

            // Set the initial state of the checkbox
            darkModeCheckbox.checked = body.classList.contains('dark');

            // Event listener for the dark mode checkbox change
            darkModeCheckbox.addEventListener('change', function () {
                if (darkModeCheckbox.checked) {
                    enableDarkMode();
                } else {
                    disableDarkMode();
                }
            });
        });
    </script>

<script>
	// Function to check screen size and add/remove the "hide" class
	function updateVisibility() {
		const sidebar = document.getElementById('sidebar');
		const isSmallScreen = window.innerWidth <= 768; // Adjust the breakpoint as needed

		if (isSmallScreen) {
			sidebar.classList.add('hide');
		} else {
			sidebar.classList.remove('hide');
		}
	}

	// Initial check on page load
	document.addEventListener('DOMContentLoaded', updateVisibility);

	// Check on window resize
	window.addEventListener('resize', updateVisibility);
</script>


	<script th:src="@{/js/errorM.js}"></script>
	<div th:replace="fragments :: script"></div>
	<script th:src="@{/js/categories.js}"></script>
	<script th:src="@{/js/script_main.js}"></script>

</body>

</html>