<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">

    <style>
      
    </style>

</head>

<body>

    <div class="card">

        <div class="head_content">
            <img src="image/pic-3.png" alt="" class="profile-image">
            <div class="name_cont">
                <h5>Ahmed Ajmine Nehal</h5>
                <p>ahmed.neha</p>
            </div>
        </div>

        <div class="middle-container">
            <div class="dollar-div">
                <div class="round-div"><i class="fa fa-phone" aria-hidden="true"></i></div>
            </div>
            <div class="contact_cont">
                <span class="current-balance">Contact Number</span>
                <span class="amount"><span class="dollar-sign">+</span>0123456789</span>
            </div>

        </div>


        <div class="recent-border">
            <span class="recent-orders">Dhaka, Narayanganj</span>
        </div>
        <div class="wishlist-border">
            <span class="wishlist">Dhaka</span>
        </div>
        <div class="fashion-studio-border">
            <span class="fashion-studio">Bangladesh</span>
        </div>

    </div>

</body>

</html> -->