<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in & Sign up Form</title>
    <link rel="stylesheet" th:href="@{/css/login_css_main.css}" />
    <link rel="stylesheet" th:href="@{/css/errorM.css}" />
    <script src="https://kit.fontawesome.com/baedbdb1a3.js" crossorigin="anonymous"></script>
</head>

<body>

<div th:if="${param.error}">
    <div class="toast active">
        <div class="toast-content">
            <i class="fa-solid fa-exclamation check error"></i>

            <div class="message">
                <span class="text text-1">Error</span>
                <span class="text text-2">Invalid email or password!</span>
            </div>

        </div>
        <i class="fa-solid fa-xmark close"></i>

        <div class="progress active"></div>
    </div>
</div>

<main>
    <div class="box">
        <div class="inner-box">
            <div class="forms-wrap">
                <form th:action="@{/admin/create_super}" autocomplete="off" method="post" class="sign-in-form">
                    <div class="logo">
                        <img th:src="@{/images/shopping-cart.png}" alt="cart">
                        <h4>DOHS Around</h4>
                    </div>

                    <div class="heading">
                        <h2>Reset your password</h2>
                    </div>

                    <div class="actual-form">
                        <div class="input-wrap">
                            <input type="password" name="password" minlength="4" class="input-field"
                                   autocomplete="off" placeholder="Password" required />

                        </div>
                        <input type="submit" value="Reset" class="sign-btn" />
                    </div>
                </form>


            </div>

            <div class="carousel">
                <div class="images-wrapper">
                    <img th:src="@{/images/reg_cont.jpg}" class="image img-1 show" alt="" />
                </div>

                <div class="text-slider">
                    <div class="text-wrap">
                        <div class="text-group">
                            <h2>Hello, Super Admin</h2>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</main>

<!-- Javascript file -->
<script th:src="@{/js/errorM.js}"></script>

</body>

</html>